{% extends "common/page_base.html" %}

{% block stylesheets %}
    {{super() }}
     <link rel="stylesheet" href="{{ url_for('static' , filename='css/main/split.css') }}" />
   
    
{% endblock %}


{% block outercontent %}
	<div class="split-container" id="split-container"></div>
   
{% endblock %}


{% block scripts %}
    {{ super() }}
   	
   	<script src="{{ url_for('static', filename='js/main/split.min.js')}}?version={{config['JS_VERSION']}}"></script>
	<script src="{{ url_for('static', filename='js/mlv/dataview/ciview.js')}}?version={{config['JS_VERSION']}}"></script>
	<script src="{{ url_for('static', filename='js/mlv/tracks/MLVPanel_custom.js')}}?version={{config['JS_VERSION']}}"></script>
	<script src="{{ url_for('static', filename='js/mlv/tables/project_chooser_dialog.js')}}?version={{config['JS_VERSION']}}"></script>
	<script src="{{ url_for('static', filename='js/mlv/dialogs/mlv_controls.js')}}?version={{config['JS_VERSION']}}"></script>
	<script src="{{ url_for('static', filename='js/mlv/mlview_base.js')}}?version={{config['JS_VERSION']}}"></script>
	<script src="/multi_locus_view/static/multi_locus_view/multi_locus_view.js?version={{config['JS_VERSION']}}"></script>
	<script src="{{ url_for('static', filename='js/mlv/pages/genome_home_page.js')}}?version={{config['JS_VERSION']}}"></script>
    <script>
    	var project_id={{project_id}};
    	$(function(){
    		initializePage();
    	});
    	
    	
    
    </script> 
{% endblock %}